
  <h1>Phase 2, Events Bugaloo!</h1>
  <h2>All Events</h2>
<table>  
  <% @allevents.reverse.each do |event| %>
   <tr>
      <td>
        <a href="/event/<%= event.id %>"><%= event.name %></a>
      </td>
      <td> 
         posted by: <a href='/profile/<%=event.user_id%>'><%= event.user.first_name %></a>, on: <%=event.created_at.strftime("%l:%M - %a, %b %Y")%>
      </td>
   </tr>  
  <% end %>  
</table>
