  <h1>User Profile for <%= @user.first_name %></h1>

    Member since: <%= @user.created_at.strftime("%d, %b %Y")  %>

  <table>
    <% @user.created_events.each do |event| %>
     
      <%= erb :_created_event_row, layout: false, locals: { event: event } %>
     
    <% end %>
        

    <% @user.attended_events.each do |attend| %>   
      <tr>
        <td>
          Events Attended: <a href="/event/<%=event.id %>"><%= event.name %></a>
          <li><%= attend.name %>, <%=attend.location%></li>
        </td>
      </tr>  
    <% end %>  
</table>
  <a href="#" id="new_button">Create Event</a>


<div class="append_to_me"></div>
